@import './config';
body {
    @include center;
    @include fullscreen;
    background: linear-gradient(45deg, white, lightgreen);
}

.main_layout {
    @include center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cell {
    position: relative;
    width: 64px;
    @include center;
    aspect-ratio: 1;
    &.light {
        background: $light_field_cell_color;
    }
    &.dark {
        background: $dark_field_cell_color;
    }
    &[data-direction="1"]{
        &.snake_body {
            &.head{
                &::after {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }
        .eyes {
            .eye.left {
                top: 4px;
            }
            .eye.right {
                bottom: 4px;
            }
        }
    }
    &[data-direction="-1"]{
        &.snake_body {
            &.head{
                &::after {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
            }
        }
        .eyes {
            left: 0;
            .eye.left {
                left: 4px;
                bottom: 4px;
            }
            .eye.right {
                left: 4px;
                top: 4px;
            }
        }
    }
    &[data-direction="-10"]{
        &.snake_body {
            &.head{
                &::after {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }
        }
        .eyes {
            .eye.left {
                top: 4px;
                right: 4px;
            }
            .eye.right {
                top: 4px;
                left: 4px;
            }
        }
    }
    &[data-direction="10"]{
        &.snake_body {
            &.head{
                &::after {
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }
        .eye.left {
            bottom: 4px;
            right: 4px;
        }
        .eye.right {
            bottom: 4px;
            left: 4px;
        }
    }
    &.snake_body {
        &::after{
            content: '';
            background: $snake_color;
            width: 100%;
            height: 100%;
        }
        
    }
    .eyes {
        position: absolute;
        height: 100%;
        .eye {
            width: 24px;
            height: 24px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            &::after {
                position: absolute;
                width: 8px;
                height: 8px;
                content: '';
                background-color: black;
                top: 12px;
                left: 12px;
                border-radius: 50%;
            }
        }
    }
}

.apple {
    &::after{
        position: absolute;
        content: '';
        width: 56px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: rgb(202, 44, 44);
    }
}


.field {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}

.modal {
    @include center;
    text-align: center;
    flex-direction: column;
    min-width: 50vw;
    max-width: 80vw;
    min-height: 40vh;
    max-height: 60vh;
    position: fixed;
    z-index: 1001;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    &::before{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.5);
    }
    
    button {
        padding: 1em;
        font-weight: bold;
    }
}

@media screen and (max-width: 720px) {
    .cell {
        width: 38px;
    }
    .apple {
        &::after {
            width: 28px;
        }
    }

    .modal {
        width: 300px;
        font-size: 14px;
    }
}